In [1]:
import pymysql
from util.enviroments import Envir
connection = pymysql.connect(host=Envir['host'],
                             user=Envir['user'],
                             password=Envir['password'],
                             database=Envir['BetDatabase1'],
                             cursorclass=pymysql.cursors.DictCursor)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_sql('SELECT * FROM bets', con=connection)
df.head()

   id                 date  bet_number
0   0  2020-03-25 11:18:00        2.47
1   1  2020-03-25 11:18:20       78.84
2   2  2020-03-25 11:19:00        2.63
3   3  2020-03-25 11:19:20        1.95
4   4  2020-03-25 11:20:00       19.75

In [4]:
df.tail()

            id                 date  bet_number
167483  167483  2020-05-08 17:13:00        1.29
167484  167484  2020-05-08 17:13:20        1.00
167485  167485  2020-05-08 17:13:40        1.45
167486  167486  2020-05-08 17:13:50        3.30
167487  167487  2020-05-08 17:14:00        3.10