In [82]:
import pymysql
connection = pymysql.connect(host='localhost',
                             user='mgo',
                             password='mgomgo@Mysql1',
                             database='Test',
                             cursorclass=pymysql.cursors.DictCursor)

In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
df = pd.read_sql('SELECT * FROM Downloads_bets', con=connection)
df.head()

                 date  id  bet_number
0  2020/3/25 11:18:00   1        2.47
1  2020/3/25 11:18:00   2       78.84
2  2020/3/25 11:19:00   3        2.63
3  2020/3/25 11:19:00   4        1.95
4  2020/3/25 11:20:00   5       19.75

### Data Transformation

In [85]:
df.drop('id',axis=1,inplace=True)

In [86]:
df.head()

                 date  bet_number
0  2020/3/25 11:18:00        2.47
1  2020/3/25 11:18:00       78.84
2  2020/3/25 11:19:00        2.63
3  2020/3/25 11:19:00        1.95
4  2020/3/25 11:20:00       19.75

In [87]:
df['date'] = pd.to_datetime(df['date'])

In [88]:
df.head()

                 date  bet_number
0 2020-03-25 11:18:00        2.47
1 2020-03-25 11:18:00       78.84
2 2020-03-25 11:19:00        2.63
3 2020-03-25 11:19:00        1.95
4 2020-03-25 11:20:00       19.75

In [89]:
# # Create figure and plot space
# fig, ax = plt.subplots(figsize=(12, 12))
#
# # Add x-axis and y-axis
# ax.bar(day['date'],
#        day['bet_number'],
#        color='purple')
#
# # Set title and labels for axes
# ax.set(xlabel="Date",
#        ylabel="bet number",
#        title="Lets see")
#
# plt.show()

In [90]:
dfDateFilter = df.duplicated(subset=['date'])
# print(day.loc[0]['date'])

for i,row in df.iterrows():
    if dfDateFilter[i]:
        df['date'][i] = df.loc[i]['date'] + pd.Timedelta('20s')

<ipython-input-90-c84367ecd0fa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i] = df.loc[i]['date'] + pd.Timedelta('20s')

In [91]:
dfDateFilter = df.duplicated(subset=['date'])

for i,row in df.iterrows():
    if dfDateFilter[i]:
        df['date'][i] = df.loc[i]['date'] + pd.Timedelta('20s')

<ipython-input-91-e1486d6b9465>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i] = df.loc[i]['date'] + pd.Timedelta('20s')

In [92]:
dfDateFilter = df.duplicated(subset=['date'])

for i,row in df.iterrows():
    if dfDateFilter[i]:
        df['date'][i] = df.loc[i]['date'] + pd.Timedelta('10s')

<ipython-input-92-06e31295d74d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i] = df.loc[i]['date'] + pd.Timedelta('10s')

In [95]:
day = df[(df['date'] > '2020-03-25') & (df['date'] < '2020-03-26')]

In [96]:
df.head()

                 date  bet_number
0 2020-03-25 11:18:00        2.47
1 2020-03-25 11:18:20       78.84
2 2020-03-25 11:19:00        2.63
3 2020-03-25 11:19:20        1.95
4 2020-03-25 11:20:00       19.75

In [97]:
df.tail()

                      date  bet_number
167483 2020-05-08 17:13:00        1.29
167484 2020-05-08 17:13:20        1.00
167485 2020-05-08 17:13:40        1.45
167486 2020-05-08 17:13:50        3.30
167487 2020-05-08 17:14:00        3.10