In [4]:
import pymysql
connection = pymysql.connect(host='localhost',
                             user='mgo',
                             password='mgomgo@Mysql1',
                             database='Test',
                             cursorclass=pymysql.cursors.DictCursor)

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_sql('SELECT * FROM Downloads_bets', con=connection)
df.head()

                 date  id  bet_number
0  2020/3/25 11:18:00   1        2.47
1  2020/3/25 11:18:00   2       78.84
2  2020/3/25 11:19:00   3        2.63
3  2020/3/25 11:19:00   4        1.95
4  2020/3/25 11:20:00   5       19.75