In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# importing data
housing_multi = pd.read_csv('data/Housing.csv')
housing_multi.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
housing_multi.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [5]:
housing_multi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

### Data preparation
* transforming yes and no into Binary
* also do some innovation in furnished data

In [6]:
# map is an extension pf pandas
housing_multi['mainroad'] = housing_multi['mainroad'].map({'yes':1,'no':0})
housing_multi['guestroom'] = housing_multi['guestroom'].map({'yes':1,'no':0})
housing_multi['basement'] = housing_multi['basement'].map({'yes':1,'no':0})
housing_multi['hotwaterheating'] = housing_multi['hotwaterheating'].map({'yes':1,'no':0})
housing_multi['airconditioning'] = housing_multi['airconditioning'].map({'yes':1,'no':0})
housing_multi['prefarea'] = housing_multi['prefarea'].map({'yes':1,'no':0})

In [7]:
status = pd.get_dummies(housing_multi['furnishingstatus'])
status.head()

   furnished  semi-furnished  unfurnished
0          1               0            0
1          1               0            0
2          0               1            0
3          1               0            0
4          1               0            0

In [ ]:
# if furnished and unfurnished is 0 then semi is one 
# so we can cut it off

status = pd.get_dummies(housing_multi['furnishingstatus'])
status.head()